name: Continuous Deployment

on:
  push:
    branches: ['main']

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Repository
        uses: actions/checkout@v5

      - name: Setup Node
        uses: actions/setup-node@v6
        with:
          node-version: 24

      - name: Install Node Modules
        run: npm ci

      - name: Build
        run: npm run build -- --base-href "/mtg-life-counter/"

      - name: Test
        run: npm run test

      - name: Upload Artifact
        uses: actions/upload-pages-artifact@v4
        with:
          path: dist/mtg-life-counter/browser/

  deploy:
    needs: build

    permissions:
      pages: write
      id-token: write

    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}

    runs-on: ubuntu-latest

    steps:
      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v4
